@media screen and (max-width: 600px) {
    .container {
        width: 600px;
        height: 200px;
        display:flex;
        
    }
 .logo {
        margin-left: 17px;
    }
    
.logo h2{
    font-size: 20px;
    font-weight: 600;
    color: white;
    
}
.logo span{
    font-size: 16px;
    font-weight: 400;
    display: block;
   
}

.one {
    width: 70%;
    height: 200px;
}
.one ul{
    display: flex;
    justify-content: center;
    margin-left: -95px;
    
}
.one ul li{
    list-style: none;
    

}
.one ul li a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 9px;
    font-size: 13px;
    font-weight: 500;
   
  
    
    
}
    
   /* aaaaaaaaaaaaaaa */
   .Fast-meddile{
    width: 100%;
    margin-left: -30px;
    color: white;
    text-align: center;
}
    
.Fast-meddile h3 {
    font-size: 23px;
    font-style: italic;
    font-weight: 500;
}


    
    .Fast-meddile h1 {
        font-size: 35px;
        font-weight: 600;
        margin: 34px;
        
        
    }

    .Fast-Headder {
        width: 100%;
        text-align: center;
        padding-top: 60px;
        font-size: 12px;
        color: black;
    }
/* bbbbbbbbbbbbbbbbbbbbbbbb */
    .card .col-1-2 {
        width: 50%;
    }
    .card .col-1-2 p{
        font-size: 10px;
        padding: 5px 19px 0px 12px;

    }

/* cccccccccccccccccccc */
.viste-water{
    width: 100%;
    padding: 40px;
    margin-left: 12px;
}


/* dddddddddddddddd */
.last-ops{
    margin-left: 97px;
}
.col-1 h2 {
    font-size: 15px;
}
.col-1 p {
    font-size: 11px;
}
.col-1 a {
    width: 99px;
    font-size: 12px;
    height: 40px;
    text-decoration: none;
    margin-top: 19px;
    margin-left: 6px;
    display: block;
}
.col-1 .bg1 {
    width: 197px;
    height: 165px;
    margin-bottom: 23px;
}
}